.app-nxvmenu {
    &__item {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        
        &:hover,
        &:focus-visible {
            background-color: light-dark(#f5f5f5, #575757); //eee
            background-color: var(--app-color-background-contrast);
            color: var(--app-color-background-primary);
            outline: none;
            text-decoration: none;
        }
    }

    &__dropdown {
        position: absolute;
        top: calc(100% + 0.75rem);
        right: 0;
        background: var(--app-color-background-primary);
        border: 1px solid var(--color-default);
        border-radius: 0.5rem;
        min-width: 200px;
        max-height: 80vh;
        overflow-y: auto;
        display: none;
        box-shadow: 0 2px 4px light-dark(rgba(0,0,0,0.1), transparent);

        &.is-open {
            display: block;
        }
    }

    &__control {
        background: none;
        padding: 0 0.25rem;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 0.5rem;
        line-height: 1;
        height: 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: none;

        &::after {
            content: '';
            height: 1rem;
            width: 1rem;
            background-color: currentColor;
            mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E") no-repeat center;
            mask-size: 1rem;
            display: block;
            transition: rotate 0.2s ease;
            translate: 0 1px; //adjustment
        }

        &[aria-expanded=true] {
            &::after {
                rotate: 180deg;
            }
        }

        span {
            display: inline-block;
        }

        &:focus-visible {
            outline: 2px solid #4a90e2;
            outline-offset: 2px;
        }

        @media (max-width: 400px) {
            span {
                display: none;
            }
            &::before {
                content: 'nav';
            }
        }
    }

    &__wrap {
        position: relative;
    }
}
