.cxc-main {
    &__pv {
        &-quote {
            >a {
                color: var(--_link);

                &:hover,
                &:focus-visible {
                    color: var(--_link-active);
                }
            }

            >p {
                font-size: 1rem;
                text-align: center;

                &:nth-of-type(2) {
                    font-size: 0.875rem;
                }
            }

            >div {
                display: flex;
                align-items: center;
                gap: 1rem;
                justify-content: space-between;

                >button {
                    display: inline-block;
                    height: 1.25rem;
                    width: 1.25rem;
                    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M8 3 4 7l4 4'/%3E%3Cpath d='M4 7h16'/%3E%3Cpath d='m16 21 4-4-4-4'/%3E%3Cpath d='M20 17H4'/%3E%3C/svg%3E") no-repeat center;
                    mask-size: 1.25rem;
                    background-color: var(--_link);

                    &:hover,
                    &:focus-visible {
                        color: var(--_link-active);
                    }
                }

                >h3 {
                    font-size: 1.875rem;
                }
            }

            & {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                margin-top: 1rem;
                color: var(--_foreground);
                background-color: var(--_background);
                border: 1px solid var(--_foreground);
                border-radius: 1rem;
                padding: 1rem;
            }
        }
    }

    &__player {
        &-list {
            >li {
                >div {
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    overflow: hidden;

                    p {
                        &:nth-of-type(1) {
                            white-space: nowrap;
                            will-change: transform;

                            &[is-marquee='true'] {
                                display: flex;
                                gap: 1rem;
                                animation: scroll 10s forwards linear infinite;
                                // animation-delay: 1s;
                                width: max-content; //IMPORTANT

                                &:hover {
                                    animation-play-state: paused;
                                }

                                &::after {
                                    content: attr(data-content);
                                    display: inline-block;
                                }
                            }

                            @keyframes scroll {
                                to {
                                    transform: translate(calc(-50% - 0.5rem));
                                }
                            }
                        }

                        &:nth-of-type(2) {
                            font-size: 0.875rem;
                            // color: var(--_link);
                        }
                    }
                }

                &::before {
                    content: '0' counter(tracknumber);
                }

                & {
                    counter-increment: tracknumber 1;
                    display: grid;
                    grid-template-columns: auto 1fr auto auto auto;
                    align-items: start;
                    gap: 0.25rem 1rem;
                    font-size: 1.25rem;
                }

                &:not(:first-child) {
                    margin-top: 1rem;
                }
            }

            & {
                counter-set: tracknumber 0;
            }
        }

        &-title {
            >p {
                font-size: 1.125rem;
            }

            >h3 {
                font-size: 2.25rem;

                @media (max-width: 1000px) {
                    font-size: 1.75rem;
                }
            }

            & {
                flex: 1;
            }
        }

        &-logo {
            >svg {
                height: 4rem;
                width: 4rem;

                >rect {
                    fill: var(--_text-color);
                }

                >path {
                    fill: var(--_bg-color);
                }
            }

            & {
                flex: 0 0 4rem;
            }
        }

        &-body {
            padding-top: var(--_padding);
        }

        &-head {
            >button {
                cursor: pointer;
                flex: 0 0 3rem;
                height: 3rem;
                width: 3rem;
                padding: 0;
                border: 0;
                mask: no-repeat center;
                mask-size: 3rem;
                background-color: var(--_text-color);

                &.--shuffle {
                    // background-color: var(--_link-color);
                    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='1.25' d='M13.484 9.166 15 7h5m0 0-3-3m3 3-3 3M4 17h4l1.577-2.253M4 7h4l7 10h5m0 0-3 3m3-3-3-3'/%3E%3C/svg%3E");
                    // &:hover,
                    // &:focus-visible {
                    //     // background-color: var(--_link-active-color);
                    // }
                }

                &.--control {
                    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='currentColor' viewBox='0 0 48 48'%3E%3Cpath fill-rule='evenodd' d='M24 46c12.15 0 22-9.85 22-22S36.15 2 24 2 2 11.85 2 24s9.85 22 22 22m0 2c13.255 0 24-10.745 24-24S37.255 0 24 0 0 10.745 0 24s10.745 24 24 24' clip-rule='evenodd'%3E%3C/path%3E%3Cpath d='M36 24 18 34.392V13.608z'%3E%3C/path%3E%3C/svg%3E");
                }
            }

            & {
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                gap: 1rem;
                padding-bottom: var(--_padding);
                border-bottom: 1px solid var(--_text-color);
            }
        }

        &-wrap {
            --_radius: var(--_child-border-radius, 1rem);
            --_padding: 1.5rem;
            --_bg-color: var(--_background, #fff);
            --_text-color: var(--_foreground, #000);
            --_link-color: var(--_link, blue);
            --_link-active-color: var(--_link-active, #a100ff);
            background-color: var(--_bg-color);
            color: var(--_text-color);
            border-radius: var(--_radius, 1rem);
            padding: var(--_padding);
            border: 1px solid var(--_text-color);
        }
    }
}

.cxc-simulation {
    &__info {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: help;
    }

    &__select {
        >select {
            border: none;
            padding: none;
            appearance: none;
            background-color: transparent;
        }

        >span {
            display: inline-block;
            text-transform: uppercase;
            font-size: 0.625rem;
            pointer-events: none;
        }

        & {
            display: flex;
            flex-direction: column;
            gap: 0.325rem;
            border-radius: 4px;
            padding: 0.25rem 0.5rem;
            background-color: light-dark(#eee, #575757);
        }
    }

    &__wrap {
        display: flex;
        gap: 1rem;
        align-items: center;
        position: relative;
    }
}

[data-simulation] {
    &[data-simulation="protanopia"] {
        filter: brightness(0.97) contrast(0.93) saturate(0.83) hue-rotate(-3deg);
        // filter: url('#protanopia');
    }

    &[data-simulation="deutranopia"] {
        filter: brightness(0.98) contrast(0.96) saturate(0.82) hue-rotate(1deg);
        // filter: url('#deutranopia');
    }

    &[data-simulation="tritanopia"] {
        filter: brightness(0.99) contrast(0.96) saturate(0.86) hue-rotate(-40deg);
        // filter: url('#tritanopia');
    }

    &[data-simulation="achromatopsia"] {
        filter: grayscale(100%);
    }
}