@keyframes slidein-from-left {
  from {
    translate: 0 0;
  }
  to {
    translate: var(--_final-translate-x) 0;
  }
}

@keyframes slidein-from-right {
  from {
    translate: 0 0;
  }
  to {
    translate: var(--_final-translate-x) 0;
  }
}

.cg {
  &-difficulty {
    &__rdo {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
    &__group {
      > legend {
        float: inline-start;
        grid-column: 1/-1;
        text-align: center;
        text-decoration: underline;
      }
      & {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
        @media (max-width: 400px) {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
  &-main {
    &__reset {
      width: fit-content;
    }
    &__btngroup {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
    &__venn {
      &item {
        --_animation-duration: 0.5s;
        --_final-translate-x: calc(var(--_gap) * 2);
        height: 6.25rem;
        width: 6.25rem;
        border-radius: 50%;
        border: 1px solid light-dark(#000, #fff);

        &.-question {
          --_final-translate-x: calc(var(--_gap) * -2);
        }
        &.-easy {
          &.-selected {
            animation: slidein-from-left var(--_animation-duration) ease-in-out forwards;
          }
          &.-question {
            animation: slidein-from-right var(--_animation-duration) ease-in-out forwards;
            mix-blend-mode: difference;
          }
        }
      }
      & {
        --_gap: 1rem;
        display: flex;
        gap: var(--_gap);
        &.-easy {
          mix-blend-mode: darken;
        }
      }
    }
    &__wrap {
      display: grid;
      place-content: center;
      place-items: center;
      text-align: center;
      gap: 1rem;
    }
  }
}

html[data-theme="dark"] {
  .cg-main__venn {
    mix-blend-mode: lighten;
  }
}
