.cop-main {
    &__inputgroup {
        display: grid;
        gap: 1rem;
    }
    &__result {
        & {
            --_bg: red;
            border-radius: 1rem;
            background-color: var(--_bg);
            aspect-ratio: 1/1;
        }
        &group {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: min(var(--_result-width), 100%);
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding: 0 var(--_right-column-padding);
    }
    &__wrap {
        --_right-column-padding: 0;
        --_result-width: 9.5rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: var(--_result-width) 1fr;

        @media (max-width: 600px) {
            --_right-column-padding: 2rem;
            grid-template-columns: 1fr;
            place-items: center;
        }

        @media (max-width: 400px) {
            --_right-column-padding: 1.5rem;
        }
    }
}