.cop-app {
    &__refcont {
        margin: 2rem 0 3rem 0;
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }
    &__title {
        > span {
           position: relative;
           font-size: 1.125em;
           &::before {
                content: '';
                position: absolute;
                inset: 0 0 0 0;
                mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='395' height='92' viewBox='0 0 395 92' fill='%23135170'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M234.036 69.681C234.202 63.6709 234.035 57.671 233.536 51.681C232.819 52.221 232.319 52.8909 232.036 53.681C222.278 61.271 212.945 69.431 204.036 78.181C190.676 88.901 178.176 88.071 166.536 75.681C164.691 73.311 163.525 70.6509 163.036 67.681C163.202 62.6709 163.035 57.671 162.536 52.681C161.819 53.221 161.319 53.8909 161.036 54.681C151.576 62.3009 142.242 70.1409 133.036 78.181C127.114 82.311 120.78 85.641 114.036 88.181C96.5407 90.341 86.0407 82.841 82.5357 65.681C82.2027 58.681 81.8687 51.681 81.5357 44.681C61.9227 55.2309 43.4227 67.401 26.0357 81.181C15.8547 84.121 7.68866 81.2909 1.53568 72.681C-1.67932 63.631 0.153687 55.791 7.03568 49.181C30.1667 28.4009 56.1667 12.0709 85.0357 0.180946C101.047 -1.22906 111.881 5.60094 117.536 20.6809C118.872 26.0909 120.206 31.421 121.536 36.681C134.294 24.2509 148.46 13.7509 164.036 5.18095C184.2 -1.06905 196.533 6.09094 201.036 26.6809C202.088 26.8309 203.088 26.6609 204.036 26.1809C213.906 15.9709 225.573 8.64095 239.036 4.18095C253.197 3.32095 263.03 9.49094 268.536 22.6809C269.86 26.9809 271.027 31.311 272.036 35.681C275.159 32.061 278.492 28.5609 282.036 25.1809C287.079 20.4709 292.413 16.1309 298.036 12.1809C308.971 5.42094 319.971 5.08095 331.036 11.1809C338.972 19.3009 342.805 29.1409 342.536 40.681C350.952 32.271 358.619 23.271 365.536 13.6809C373.987 4.89095 382.653 4.56094 391.536 12.6809C394.569 17.2909 395.569 22.2909 394.536 27.6809C382.905 47.7509 368.739 65.9109 352.036 82.181C344.525 88.6109 335.858 91.611 326.036 91.181C309.991 85.961 302.824 74.801 304.536 57.681C294.253 70.3009 282.42 81.1309 269.036 90.181C250.502 95.241 238.835 88.4109 234.036 69.681Z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M163.035 67.6806C162.368 63.3506 161.702 59.0106 161.035 54.6806C161.318 53.8906 161.818 53.2206 162.535 52.6806C163.034 57.6706 163.201 62.6706 163.035 67.6806Z' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M234.035 69.6806C233.368 64.3506 232.702 59.0106 232.035 53.6806C232.318 52.8906 232.818 52.2206 233.535 51.6806C234.034 57.6706 234.201 63.6706 234.035 69.6806Z' /%3E%3C/svg%3E") no-repeat center;
                mask-size: 100%;
                z-index: -1;
                display: inline-block;
                translate: 0 0.625rem;
                background-color: color-mix(in srgb, var(--app-color-background-primary) 85%, light-dark(#135144aa, #fff) 15%);
            }
        }
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    &__wrap {
        padding-top: var(--app-wrap-padding-v);
    }
}