@font-face {
    font-family: Yesteryear;
    src: url('./yesteryear/Yesteryear-Regular.ttf');
}

.app-header {
    &__logo {
        font-family: Yesteryear, cursive, monospace;
        text-decoration: none;
        font-size: 1.5rem;
        color: light-dark(#a41b27, #fff);
        &:hover,
        &:focus-visible {
            color: light-dark(#a41b27, #fff);
            text-decoration: none;
        }

        @media (max-width: 350px) {
            font-size: 0;
            &::before {
                content: 'PT';
                font-size: 1.5rem;
            }
        }
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
    &__wrap {
        --_margin-h: 2rem;
        position: fixed;
        inset: var(--app-margin-top-header) auto auto 50%;
        width: min(850px, calc(100vw - 2 * var(--_margin-h)));
        height: var(--app-height-header, 4rem);
        translate: -50% 0;
        background-color: var(--app-color-background-primary);
        z-index: 99;
        padding: 1rem;
        border: 1px solid light-dark(#000, #fff);
        box-shadow: 0 0.25rem 0 var(--app-color-background-contrast);
        border-radius: 200px;

        @media (max-width: 300px) {
            --_margin-h: 0.75rem;
        }
    }
}

:root {
    --app-height-header: 4rem;
    --app-margin-top-header: 1.25rem;
    --app-wrap-padding-v: calc(var(--app-height-header) + var(--app-margin-top-header) + 2rem)
}