.home {
    &-tool {
        &__list {
            &item {
                &.-left {
                    > h3 {
                        font-size: 1.5rem;
                        font-weight: 600;
                    } 
                    > p {
                        font-size: 0.875rem;
                    }
                    & {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                    }
                }
                &.-right {
                    border-radius: 1rem;
                    background-color: var(--app-color-background-contrast);//light-dark(#fff, #000);
                    width: 100%;
                    aspect-ratio: 2/1;
                }
            }
            > li {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 1rem;

                > .-left { // content
                    flex: 0 0 45%;
                }
                > .-right { //image
                    flex: 0 0 55%;
                }
                &:nth-child(even) {
                    flex-direction: row-reverse;
                }

                @media (max-width: 700px) {
                    flex-direction: column !important;
                    gap: 1.25rem;

                    > :is(.-left, .-right) {
                        flex: auto;
                    }
                }
            }
            & {
                display: grid;
                gap: 1.5rem;
            }
        }
        &__wrap {
            > h2 {
                font-size: 2rem;
                font-family: "Dela Gothic One", Arial, Helvetica, sans-serif;
                text-align: center;
                padding-bottom: 1.5rem;
            }
            & {
                padding-top: 1.5rem;
                padding-bottom: 3.5rem;
                position: relative;
                border-top: 1px solid var(--app-color-background-contrast);
                color: 1px solid var(--app-color-background-contrast);
            }
        }
    }
    &-landing {
        &__title {
            font-family: "Dela Gothic One", Arial, Helvetica, sans-serif;
            font-size: min(8rem, 17.5vmin);
            line-height: 1.2;
            text-align: center;
            color: var(--app-color-background-primary);
            -webkit-text-stroke: 0.0625rem light-dark(#000, #fff);
            text-shadow: 0 0.25rem 0 var(--app-color-background-contrast);
            max-width: 46.875rem;
        }
        &__hero {
            padding-top: var(--app-wrap-padding-v);
            height: 100vh;
            min-height: 18.75rem; //fallback
            background: url('/hero-light.png') no-repeat center;
            background-size: cover;
            justify-items: center;
            align-items: start;
        }
        &__wrap {
            position: relative;
        }
    }
}